body {
  margin: 0;
  padding: 0;
  background-color:#540224;
}
#container {
  margin: 0;
  padding: 0;
}
#header {
  background-color: #777777;
}
#main {
  background-color: #CCCCCC;
}
#footer {
  background-color: #999999;
  font-size: 16pt;
}
nav{
    text-align:center;
}

nav>ul{
    list-style-type:none;
    padding:0;
    margin:0;
    background-color:red;
    overflow:hidden;
    display:inline-block;
  
}

li{
    text-align:center;
    float:left;
    border:1px solid #BBF;
    font-family:arial;

}
li a{
    display:block;
    padding:1em 1em;
    text-decoration:none;
    color:white;
}
li a:hover{
    color:yellow;
}
