h1 {
  font-family:Arial; 
}
.navbar-brand {
  font-family: 'Russo One', sans-serif;
  font-style: italic;
  text-decoration: none;
}
main article {
  font-size: 1em;
}
.page-header h2 {
  font-size:1.4em;
  margin:0;
}
footer {
  font-family: 'Trebuchet MS';
  font-size: 0.8em;
}
#background-attribution {
  font-size:0.7em;
}