h1 {
  font-family:Arial; 
}
nav h1 {
  font-family: Russo One, sans-serif;
  font-style: italic;
  font-size: 4.5em;
}
main article {
  font-size: 2em;
}
main article header {
  font-size:1.313em;
}
footer {
  font-size:0.813;
}
nav ul li {
  font-family: Arial;
}

footer{
 font-family:Arial; 
}
