h1 {
  font-family:Arial; 
}
nav h1 {
  font-family: 'Russo One', sans-serif;
  font-style: italic;
  font-size: 3em;
}
main article {
  font-size: 1em;
}
main article header {
  font-size:1.4em;
}
footer {
  font-family: 'Trebuchet MS';
  font-size: 0.8em;
}
nav ul li {
  font-family: Arial;
}
