html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-image:url("http://www.nasa.gov/images/content/602857main_pia14293-amended-43_946-710.jpg");
}
div#container {
  margin: 0;
  padding: 0;
  position: relative;
  min-height: 100%;
}
header#navbar {
  background-color: #777777;
  padding:1%;
}
main article {
  background-color: #CCCCCC;
  padding:2%;
  padding-bottom:4%;
}
footer {
  background-color: #999999;
  width: 100%;
  text-align:center;
  position: absolute;
  bottom: 0px;
  padding: 3px;
}
img#bannerImage {
  float:left;
  width:8%;
}
#bannerTitle {
    display:inline;
}

nav {
  text-align:center;
  display:inline;
  margin: 3%;
  overflow: hidden;
}

nav ul {
    list-style-type:none;
    padding:0;
    margin:0;
    margin-left:inherit;
    background-color:#5a5a5a;
    overflow:hidden;
    display:inline-block;
}
nav h1 {
	display:inline;
}
nav ul li {
    text-align:center;
    float:left;
}
nav ul li a {
    display:block;
    padding:1em 1em;
    text-decoration:none;
    color:white;
}
nav ul li a:hover {
    background-color: #171717;
}
nav ul li.current {
    background-color: #3c3c3c;
}
