html, body {
  height: 100%;
}
body {
  margin: 0;
  padding: 0;
  background-color: black;
  background-image: url("http://www.nasa.gov/images/content/602857main_pia14293-amended-43_946-710.jpg");
  background-size: 100% ;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% -5%;
  color:white;
}
#background-attribution {
  position:absolute;
  bottom:0px;
  right:0px;
}
body .container {
	padding-top: 60px;
}
.footer {
  width: 100%;
  height: 60px;
  text-align:center;
  position: absolute;
  bottom: 0px;
  padding: 3px;
}
#bannerTitle {
    display:inline;
}
div#timeline ul {
	list-style:none;
	color:white;
}
ul#timeline-dates a {
	text-decoration:none;
	color:white;
}
ul#timeline-dates li {
	display:inline-block;
}
ul#timeline-events li {
	display:none;
}