html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  background-color: black;
  background-image: url("/images/background.jpg");
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: 0% -5%;
  color:white;
}
#background-attribution {
  position:absolute;
  bottom:0px;
  right:0px;
}
body .container {
	padding-top: 60px;
}
.footer {
  width: 100%;
  height: 60px;
  text-align:center;
  position: absolute;
  bottom: 0px;
  padding: 3px;
}
div#timeline ul {
	list-style:none;
	color:white;
}
ul#timeline-dates a {
	text-decoration:none;
	color:white;
}
ul#timeline-dates li {
	display:inline-block;
}
ul#timeline-events li {
	display:none;
}
.navbar-fixed-top-noborder {
	top:0;
	border-width: 0 0 0px;
}
