body {
  margin: 0;
  padding: 0;
  background-color:#DDDDDD;
}
div#container {
  margin: 0;
  padding: 0;
}
div#header {
  background-color: #777777;
  position: fixed;
  top: 0px;
  padding:1%;
}
div#main {
  background-color: #CCCCCC;
  padding-top: 200px;
}
div#footer {
  background-color: #999999;
  font-size: 16pt;
  width: 100%;
  text-align:center;
  position: fixed;
  bottom: 0px;
}
img#bannerImage {
    float:left;
}
#bannerTitle {
    display:inline;
}
/*Nav Bar */
nav{
  text-align:center;
  display:inline;
  margin: 3%;
}

nav>ul {
    list-style-type:none;
    padding:0;
    margin:0;
    margin-left:inherit;
    background-color:red;
    overflow:hidden;
    display:inline-block;
}

li {
    text-align:center;
    float:left;
    border:1px solid #BBF;
    font-family:arial;
}
li a {
    display:block;
    padding:1em 1em;
    text-decoration:none;
    color:white;
}
li a:hover {
    color: 111111;
}
