html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 60px;
  padding: 0;
  color: white;
}
body:before {
  content: "";
  background-color: #91623d;
  background-image: url("/images/background.jpg");
  background-size: cover;
  position: fixed;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: -9999;
}
#background-attribution {
  position:absolute;
  bottom:0px;
  right:0px;
}
.footer {
  width: 100%;
  height: 60px;
  text-align:center;
  position: absolute;
  bottom: 0px;
  padding: 3px;
}
div#timeline ul {
	list-style:none;
	color:white;
}
ul#timeline-dates a {
	text-decoration:none;
	color:white;
}
ul#timeline-dates li {
	display:inline-block;
}
ul#timeline-events li {
	display:none;
}
.style-noborder {
	border-width: 0 0 0px;
}
img.img-responsive {
	width:100%;
}
a {
  overflow-wrap: break-word;
  word-wrap: break-word;
}
